.back {
  background-image: linear-gradient(-30deg, #e66465, #9198e5);
  height: 100vh;
  width: 100vw;
}

.sign-box {
  position: absolute;
  top: 50%;
  left: 50%;
  /* height: 50%; */
  width: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #F0E9E9; */
  background-color: white;
  border-radius: 15px;
  display: flexbox;
  flex-direction: column;
}

.sign-box-title {
  margin-top: 50px;
  padding-inline-start: 20px;
  font-size: 24px;
  font-weight: bold;
}

.sign-box-lines {
  margin-block: 20px;
  padding-inline: 30px;
}

.sign-box-line {
  margin-block-end: 20px;
}

.signin-button {
  margin-block-start: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.to-signup {
  margin-block-start: 10px;
  margin-block-end: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.to-signup span {
  color: #0066FF;
}